<%= stylesheet_link_tag "graph-main", "data-turbo-track": "reload" %>
<div id="cy" data-controller="cytoscape">
    <p data-cytoscape-target="notesUrl" class="hidden"> <%= all_notes_url %></p>
    <p data-cytoscape-target="path" class="hidden"> <%= notes_url + "/"%></p>
    <p data-cytoscape-target="edgesUrl" class="hidden"> <%= edges_url + "/"%></p>
</div>