<%= stylesheet_link_tag "graph-main", "data-turbo-track": "reload" %>
<header>
    <%= link_to "< Atrás", {:controller => :home, :action => :logged_in} %>
    LearnGraph: Graph View
</header>
<div id="cy" data-controller="cytoscape">
    <p data-cytoscape-target="notesUrl" class="hidden"> <%= all_notes_url %></p>
    <p data-cytoscape-target="path" class="hidden"> <%= notes_url + "/"%></p>
</div>