<% @notes.each do |note| %>
    <div class="note">
        Titulo: <%= note.title %><br>
        Ultima mod: <%= note.updated_at %><br>
        <%= link_to "Editar", edit_note_path(note) %>
        <%= link_to "Ver", note %>
    </div>
<% end %>