<%= stylesheet_link_tag "note-new", "data-turbo-track" => "reload" %>
<div class="column-container">
    <div id="note-page" class="shadowed">
        <%= render "shared/note_form" %>
    </div>
</div>