<div id="editor-tools">
    <div class="edit-style medium">
        <button data-action="tiptap#bold" id="bold" type="button">B</button>
        <button data-action="tiptap#italicize" id="italic" type="button">I</button>
        <button data-action="tiptap#underline" id="underline" type="button">U_</button>
        <button data-action="tiptap#strike" id="strike" type="button">S-</button>
        <button data-action="tiptap#toggle_url" id="link" type="button">URL</button>
        <button type="button">H1</button>
        <button type="button">H2</button>
        <button type="button">H3</button>
        <button data-action="tiptap#addUl" id="bulletList" type="button">UL</button>
        <button data-action="tiptap#addOl" id="orderedList" type="button">OL</button>
    </div>
      <div class="edit-style small">
        <button data-action="tiptap#listenNote" type="button">Listen Note</button>
        <button data-action="tiptap#fillNoteWithSpeech" type="button" id="speechToTextButton">Speech to Text</button>
        <!-- <button>Add link</button> -->
      </div>
    <div class="edit-style small">
        <button>Link to node</button>
        <!-- <button>Add link</button> -->
    </div>
    <div class="edit-style small">
        <button data-action="tiptap#logJSON">DEBUG</button>
    </div>
</div>
