<%= stylesheet_link_tag "home", "data-turbo-track": "reload" %>
<ul class="nav-bar">
    <a href="./" class="icon">
        <li>Icon</li>
    </a>
    <a href="https://www.google.com/">
        <li>Sobre LearnGraph</li>
    </a>
    <a href="./users/sign_in" id="login-btn">
        <li>INGRESA</li>
    </a>
</ul>
<div class="main-container">
    <div id="background-holder">
        <footer>Juan Mateo De la Hoz, 2023</footer>
    </div>
    <div class="content">
        <div class="text-holder">
            <p>Bienvenido a</p>
            <h1>LearnGraph</h1>
            <p>
            Un repositorio personal de información para tomar notas y almacenar 
            información tal como lo hacen tus neuronas cerebrales.
            </p>
        </div>
        <div class="boxes-holder">
            <div class="box">Más información</div>
            <div clasS="box">Guía rápida</div>
        </div>
    </div>
</div>
