<div class="main-container">
    <div id="background-holder">
        <footer>Juan Mateo De la Hoz, 2023</footer>
    </div>
    <div class="content">
        <div class="text-holder">
            <p>Bienvenido a</p>
            <h1>LearnGraph</h1>
            <p>
            Un repositorio personal de información para tomar notas y almacenar 
            información tal como lo hacen tus neuronas cerebrales.
            </p>
        </div>
        <div class="boxes-holder">
            <div class="box">
                <i class="cil-info card-icon"></i>
                <p class="card-text">Más información</p>
            </div>
            <div class="box">
                <i class="cil-book card-icon"></i>
                <p class="card-text">Guía rápida</p>
            </div>
        </div>
    </div>
</div>
