<br><br>
<h1>Welcome!</h1>
<ul>
<li><%= link_to "Crear nota", { :controller => :notes, :action => :new } %></li>
<li><%= link_to "Grafo de notas", { :controller => :notes, :action => :graph_index } %></li>
</ul>