<div id="tags-container">
  <button id="new_tag" type="button" onclick="document.getElementById('tag-form').style.display = 'block'">
    <i class="cil-tags"></i><i class="cil-plus"></i></button>
  <div id="tags">
    <% tag_overflow = tags.size >= 3  %>
    <% range = tag_overflow ? (0..1) : (0..-1) %>
    <% tags.reverse[range].each do |tag| %>
      <%= render 'tags/tag', tag: tag %>
    <% end %>
    <% if tag_overflow %>
      <button type="button" class="tag" onclick="document.getElementById('tags-view').style.display = 'grid'">
          <i class="cil-tags"></i>
          Mostrar más
      </button>
      <div class="toolbox" id="tags-view">
        <div id="tag-top">
          <h3>Etiquetas de la nota</h3>
          <button class="tool-button transparent" type="button" onclick="this.parentElement.parentElement.style.display = 'none';">X</button>
        </div>
        <% tags.reverse.each do |tag| %>
          <%= render 'tags/tag', tag: tag %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<%= render 'tags/new' %>