/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 *{
    font-family: 'Inter', sans-serif;
 }

 body {
    height: 100vh;
    display: block;
    margin: 0;
    padding: 0;
 }

 a {
   font-weight: 100;
 }

 .alert, .notice {
   position: fixed;
   margin: 0;
   top: 0;
   width: 100%;
   padding: 10px;
   text-align: center;
   background-color: rgb(219, 224, 148);
   border: 2px solid rgb(142, 146, 90);
 }

 .column-container {
    height: 100%;
    display: flex;
    flex-direction: column;
 }

 .shadowed {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.322);
 }

 .nav-bar {
   height: 10vh;
 }

 .view-container {
   height: 90vh;
   display: flex;
   flex-direction: column;
 }