.column-container {
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: fit-content;
}

.note-data {
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
}

#note-page {
    padding: 20px;
    background-color: rgba(178, 235, 106, 1);
    height: 400px;
    width: 800px;
    position: relative;
}

#note-page * {
    color: rgba(0, 0, 0, 0.55);
}

.edit-style {
    width: fit-content;
    display: flex;
    border: rgba(0, 0, 0, 0.55) solid 2px;
    border-radius: 8px;
    overflow: hidden;
}

#editor-tools {
    height: 10%;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.edit-style {
    display: inline-flex;
    height: 90%;
}

.edit-style.small {
    width: 15%;
}

.edit-style.medium {
    width: 40%;
}

.edit-style button {
    flex: 1;
    background-color: transparent;
    font-weight: bolder;
    border: none;
    border-right: rgba(0, 0, 0, 0.55) solid 2px;
}

.edit-style button:hover, .edit-style button.selected {
    background-color: rgba(0, 0, 0, 0.55) ;
    border-right-color: transparent;
    color: rgba(178, 235, 106, 1) !important;
}

.edit-style button:last-child {
    border-right: none;
}

div.ProseMirror p {
    margin: 5px;
}

div.ProseMirror {
    height: 200px;
    padding: 5px;
    overflow-y: auto;
}

div.ProseMirror-focused {
    outline: none;
}

#editor-holder {
    height: 100%;
    padding-bottom: 0;
}

#note-page a {
    color:rgb(84, 47, 119);
}

.zk_link {
    background-color: rgb(149, 106, 189);
    border-radius: 10px;
    padding: 3px;
    margin-bottom: 3px;
    color: white;
    text-decoration-line: none;
    display: inline-block;
 }

 a:hover {
   cursor: pointer;
 }

 .zk_link:hover {
    background-color: rgb(172, 115, 226);
 }

 form {
    display: block;
 }

 #title {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 2.5em;
 }

 ::placeholder {
    color: rgba(0, 0, 0, 0.55) ;
 }

 #bottom-bar > ul {
    display: flex;
    padding: 0;
    list-style-type: none;
    justify-content: space-between;
 }

 #bottom-bar li {
    margin: 0;
    padding: 0;
 }

 #bottom-bar .flexchild_left {
    margin-right: auto;
    margin-left: 15px;
 }

 input[type="submit"] {
    margin: 0;
    padding: 5px;
    background-color: transparent;
    border: 1px black solid;
 }

 .icon-container {
     text-decoration: none;
 }

 i {
     font-size: 1.5em;
     cursor: pointer;
 }

 div.toolbox {
     background-color: rgb(184, 236, 82);
     box-shadow: 5px 8px 15px rgba(0, 0, 0, 0.28);
     border: solid black 1px;
     position: absolute;
     border-radius: 10px;
     padding: 10px;
     z-index: 1;
     display: none;
 }

 button {
     cursor: pointer;
 }

 .tool-button {
     position: relative;
     background-color: transparent;
     border: none;
 }

 #toolbox-top {
     display: flex;
     justify-content: space-between;
 }